#読み込んだ気温データのcsvから線形予測をおこない、その日の最高気温と最低気温を線形予測によって推定するプログラム
ver.1としてcsvは直接読み込みとする。

In [19]:
import numpy as np
import pandas as pd
import scipy
import csv
#import pivottablejs

In [20]:
    # shift-jis のCSVファイル
df= pd.read_csv("data.csv",encoding="SHIFT-JIS",header=2)

In [21]:
df = df.drop(0)

In [22]:
df

                   年月日時  気温(℃) 気温(℃).1 気温(℃).2
1    2019/12/10 1:00:00   10.1       8       1
2    2019/12/10 2:00:00   10.0       8       1
3    2019/12/10 3:00:00    9.5       8       1
4    2019/12/10 4:00:00    9.3       8       1
5    2019/12/10 5:00:00    9.2       8       1
6    2019/12/10 6:00:00    9.0       8       1
7    2019/12/10 7:00:00    8.6       8       1
8    2019/12/10 8:00:00    9.1       8       1
9    2019/12/10 9:00:00   10.1       8       1
10  2019/12/10 10:00:00   12.6       8       1
11  2019/12/10 11:00:00   14.3       8       1
12  2019/12/10 12:00:00   16.1       8       1
13  2019/12/10 13:00:00   16.5       8       1
14  2019/12/10 14:00:00   16.5       8       1
15  2019/12/10 15:00:00   16.8       8       1
16  2019/12/10 16:00:00   16.2       8       1
17  2019/12/10 17:00:00   14.6       8       1
18  2019/12/10 18:00:00   13.3       8       1
19  2019/12/10 19:00:00   12.6       8       1
20  2019/12/10 20:00:00   11.3       8       1
21  2019/12/10 21:00:00   10.7       8       1
22  2019/12/10 22:00:00   10.9       8       1
23  2019/12/10 23:00:00   10.0       8       1
24  2019/12/11 00:00:00   10.0       8       1
25   2019/12/11 1:00:00    9.6       8       1
26   2019/12/11 2:00:00    9.6       8       1
27   2019/12/11 3:00:00    8.6       8       1
28   2019/12/11 4:00:00    8.2       8       1
29   2019/12/11 5:00:00    7.5       8       1
30   2019/12/11 6:00:00    7.4       8       1
31   2019/12/11 7:00:00    7.0       8       1
32   2019/12/11 8:00:00    7.5       8       1
33   2019/12/11 9:00:00    9.0       8       1
34  2019/12/11 10:00:00   11.1       8       1
35  2019/12/11 11:00:00   13.0       8       1
36  2019/12/11 12:00:00   14.7       8       1
37  2019/12/11 13:00:00   15.4       8       1
38  2019/12/11 14:00:00   15.0       8       1
39  2019/12/11 15:00:00   14.9       8       1
40  2019/12/11 16:00:00   13.9       8       1
41  2019/12/11 17:00:00   13.6       8       1
42  2019/12/11 18:00:00   13.1       8       1
43  2019/12/11 19:00:00   11.8       8       1
44  2019/12/11 20:00:00   11.7       8       1
45  2019/12/11 21:00:00   11.0       8       1
46  2019/12/11 22:00:00   11.3       8       1
47  2019/12/11 23:00:00   10.4       8       1
48  2019/12/12 00:00:00    9.2       8       1

ここで気温データのみの抽出が完了

操作としては
・csvの3行目をヘッダとして、csvファイルを読み込みdfに格納
・dfの1行目（旧ヘッダとして書き込まれる行の4行目）を削除
・2列目のみを抽出

In [23]:
df = df['気温(℃)']

In [24]:
df

1     10.1
2     10.0
3      9.5
4      9.3
5      9.2
6      9.0
7      8.6
8      9.1
9     10.1
10    12.6
11    14.3
12    16.1
13    16.5
14    16.5
15    16.8
16    16.2
17    14.6
18    13.3
19    12.6
20    11.3
21    10.7
22    10.9
23    10.0
24    10.0
25     9.6
26     9.6
27     8.6
28     8.2
29     7.5
30     7.4
31     7.0
32     7.5
33     9.0
34    11.1
35    13.0
36    14.7
37    15.4
38    15.0
39    14.9
40    13.9
41    13.6
42    13.1
43    11.8
44    11.7
45    11.0
46    11.3
47    10.4
48     9.2
Name: 気温(℃), dtype: float64

In [28]:
df = df[0:23]

In [25]:
## 図示のために使うもの
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
list_y = []

In [27]:
for num in df
    list_y.append(num)

SyntaxError: invalid syntax (<ipython-input-27-423c3c6cc7ae>, line 1)